.contact-us {
  border-right: 2px solid rgb(216, 216, 216);
}

.navbar-section {
  max-width: 1200px;
  padding: 0px 20px;
}

.ui p-menubar{
  border: none !important;
  box-shadow: unset !important;
}

a {
  text-decoration: none;
}
