a{
  text-decoration:none;
}

.product-category {
  min-height: 100px;
  background-color: rgba(37, 42, 49, 0.1);
  text-transform: uppercase;
  place-content: center;
  align-items: center;

  h1 {
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
  }
}

.filter-section {
  max-width: 1200px;
  padding: 0px 20px;
}

.product-section {
  max-width: 1200px;
  padding: 0px 20px;

  .product-card:hover {
    box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 4px 0px;
  }
}

.product-card {
  flex-basis: 25%;
}


img {
  width: 242px;
  height: 170px;
  object-fit: contain;
}

.add-to-cart {
  padding: 6px 0px;
  width: 100%;
  border: 1px solid rgb(229, 229, 229);
  background-color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  border-radius: 4px;

  span {
    color: #dc3545;
    font-size: 14px;
    font-weight: 700;
  }
}

.add-to-cart:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
}



