<footer>
  <!--  TopFooter Start -->
  <div class="top-footer">
    <div class="footer-section">
      <div class="top-footer-container">
        <div class="feature">
          <p-avatar icon="pi pi-truck" styleClass="mr-2" size="large" shape="circle"></p-avatar>
          <h3>All Over Egypt</h3>
          <p>Premium Shipping service</p>
        </div>
        <div class="feature">
          <p-avatar icon="pi pi-book" styleClass="mr-2" size="large" shape="circle"></p-avatar>
          <h3>valid and Legal Invoices</h3>
          <p>All Prices include 14% VAT</p>
        </div>
        <div class="feature">
          <p-avatar icon="pi pi-wallet" styleClass="mr-2" size="large" shape="circle"></p-avatar>
          <h3>payment Option Variety</h3>
          <p>Credit Cards / ValU / COD</p>
        </div>
      </div>
    </div>
  </div>
  <!--  TopFooter End -->

  <!--  MainFooter Start -->
  <div class="main-footer">
    <div class="footer-section">
      <div class="main-footer-container">
        <div id="logo">
          <div class="col-lg-4 mb-2">
            <a routerLink="products" class="text-decoration-none">
              <span class="h1 text-uppercase text-danger bg-dark px-2">Tech</span>
              <span class="h1 text-uppercase text-dark bg-danger px-2 ml-n1">Shop</span>
            </a>
          </div>
          <div class="address">
            <span style="color: #ffffff;">+20 114 766 2336</span>
          </div>
          <div class="address">
            <span style="color: #ffffff;">
              <a style="color: #ffffff;" title="Ticket Support" href="#">support@TECH_SHOP.store</a>
            </span>
          </div>
        </div>
        <div id="store-links">
          <div class="store-links">
            <h5>Company</h5>
            <a title="About AHW Store" href="#">About TECH SHOP Store </a>
            <a title="Privacy Policy" href="#">Privacy Policy </a>
            <a title="Delivery Information" href="#">Delivery Information&nbsp;</a>
            <a title="Careers" href="#">Careers </a>
          </div>
          <div class="store-links">
            <h5>Help</h5>
            <a title="Customer Service" href="#">Customer Service </a>
            <a title="FAQs" href="#">FAQs </a>
            <a title="Contact us" href="#">Contact us </a>
            <a title="Warranty" href="#">Warranty </a>
            <a title="Payment Methods" href="#">Payment Methods </a>
          </div>
        </div>
        <div id="contact">
          <h5>Follow</h5>
          <div id="social-links">
            <a title="facebook" href="#">
              <p-avatar icon="pi pi-facebook" styleClass="mr-2" size="large" shape="circle"></p-avatar>
            </a>
            <a title="instagram" href="#">
              <p-avatar icon="pi pi-instagram" styleClass="mr-2" size="large" shape="circle" style="color:#970b60"></p-avatar>
            </a>
            <a title="whatsapp" href="#">
              <p-avatar icon="pi pi-whatsapp" styleClass="mr-2" size="large" shape="circle" style="color:green"></p-avatar>
            </a>
            <a title="telegram" href="#">
              <p-avatar icon="pi pi-telegram" styleClass="mr-2" size="large" shape="circle"></p-avatar>
            </a>
          </div>
          <h5>Working Hours</h5>
          <p>TECH SHOP store operates daily from 10 AM to 6 PM, excluding official holidays.</p>
        </div>
      </div>
    </div>
  </div>
  <!--  MainFooter End -->

  <!--  BottomFooter Start -->
  <div class="bottom-footer">
    <div class="footer-section">
      <div class="bottom-footer-container">
        <div id="copyright">Copyright © 2023 Ahmed Ibrahim. All Rights Reserved</div>
        <div id="payments">
          <img title="visa" src="https://assets.wuiltsite.com/defaults/arab-hardware/visa.png"
               alt="Visa" width="auto" height="40px">
          <img title="mastercard"
               src="https://assets.wuiltsite.com/defaults/arab-hardware/mastercard.png"
               alt="Mastercard" width="auto" height="40px">
          <img title="valu" src="https://drive.google.com/uc?export=view&amp;id=1Xp5jbA1gg5ifWam2FB6nbCtW92JQvEB6"
               alt="ValU" width="64" height="20"></div>
      </div>
    </div>
  </div>
  <!--  BottomFooter End -->
</footer>
